@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css2?family=Aldrich&display=swap";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    overflow-x: hidden;
}
p {
    font-family: 'Cairo', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: white;
}

.text-right{
    text-align: right !important;
}
.wallpaper{
    opacity: 0.5;
    width:100%;
    height: 175px;
    margin-bottom: 100px;
}


#header-banner{
    background-color: black;
    height: 175px;
}

#logo{
    position: absolute;
    top:-70px;
    left: 32vw;
    width: 15vw;
    
}

.push{
    position: absolute;
    top:0px;
    left: 5vw;
    width: 22vw;
}

h1{
    color:white;
    margin: auto;
}
h2{
    color:white;
    margin:auto;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
 .grow:hover { 
    transform: scale(1/2);
    cursor: pointer;   
 }


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}


.navbar-btn {
    box-shadow: none;
    border: none;
}

#navbar-ow{
    height: 100px;
    background-color: black;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    height: 175px;
}

.line {
    width: 100%;
    height: 1px;
    margin: 40px 0;
}

.block{
    width: 300px;
    height: 200px;
    border-radius:5%;
    background-color: #6d7fcc;
}

i,
span {
    display: inline-block;
}


.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #7386D5;
    color: #fff;
    transition: all 0.3s;
    position: sticky;
    position: -webkit-sticky;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}


#sidebar .sidebar-header {
    padding: 20px;
    background-color: black;
 
}


#logo.shrink{
    width: 75px;
    margin-left: 3em;
}

.dropdown-button{
    background-color: #7386D5;
    border: none;
    display: block;
}
#ow_dropdown{
    display: none;
}

#ow_dropdown a:hover{
    background-color: rgb(108, 174, 108);
}

#firstItem:hover{
    background: green;
}
#secondItem:hover{
    background: gray;
}
#thirdItem:hover{
    background: rgb(64, 195, 224);
}
#fourthItem:hover{
    background: rgba(201, 186, 14, 0.975);
}
#fifthItem:hover{
    background: rgb(0, 60, 255);
}
#sixthItem:hover{
    background: rgb(190, 1, 1);
}


#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: white;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    background: #2e3236;
    font-family:'Cairo';
}

#content > p {
    padding: 20px;
    font-family: 'Cairo';
}
#content > h1 {
    padding: 50px;
    font-family: 'Cairo', sans-serif;
    font-size: 3.2em;
}

#sidebarCollapse{
    position: absolute;
    z-index: 1;
    margin-top: 25px;
   
}

.grid_container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 250px);
}


.planet_sec{
    display: flex;
    align-items: center;
    grid-column: 1/12;
    width: 100vw;
    border-bottom: solid 20px black;
}

.header_sec{
    grid-column: 3/9;
    grid-row: 1/3;
    text-align: center;
}
.header_sec h2{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 4em;
}
.header_sec p{
    font-size: 1.7em;
}


.planet_bkgrd{
    width: 100vw;
    position: absolute;
    z-index: 1;
    height: 30em;
    filter: brightness(55%);
    animation: revert_height 1s;
}
.menu_appear{
    animation: lower_height 0.5s linear;
    transform-origin: bottom;
    margin-top: -22em;
    height: 10em;
    animation-timing-function: ease-out;
}
@keyframes lower_height {
    0%{
        margin-top: -0em;
        height: 30em;
    }


    100%{
        margin-top: -22em;
        height: 10em;
    }
}
@keyframes revert_height{
    0%{
        margin-top: -22em;
        height:10em
    }
    100%{
        margin-top: 0em;
        height: 30em;
    }
}

.planet_main{
    display: flex;
    align-items: center;
}
.planet_title{
    position: relative;
    z-index: 2;
    font-size: 10vw;
    transition: transform 0.3s ease;
    float: right;
}
.planet_pic{
    position: relative;
    z-index: 2;
    width: 30vw;
    margin-left: 2em;
    margin-right: 2em;
    transition: transform 0.3s ease;
}
.planet_pic:hover{
    transform: scale(1.1);
}

.disappear{
    animation: fade_out 0.2s forwards;
    animation-timing-function: ease-in;
}
.appear{
    animation: fade_in 2.5s forwards;
    animation-timing-function: ease-in;
}
@keyframes fade_out{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes fade_in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.planet_main_title{
    position: absolute;
    z-index: 1;
    margin-top: -7em;
    margin-left: 9em;
    font-size: 3em;
}
.planet_menu{
  width: 70em;
  position: absolute;
}
.planet_menu_btn{
    position: relative;
    z-index: 1;
    width: 5em;
    height: 5em;
    background:none;
    border: none;
}
.planet_menu_arrow{
    width: 2em;
}

.btn_move{
    animation: btn_move 1.5s forwards;
    animation-timing-function: ease-in;
    opacity: 1;
    
}
.btn_fade{
    animation: btn_fade 2s forwards;
    animation-timing-function: ease-in;
    opacity: 0;
}

@keyframes btn_fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes btn_move{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
        margin-top: -21em;
        margin-left:2em;
        transform: rotate(180deg);
    } 
    100%{
        opacity: 1;
        margin-top: -21em;
        margin-left: 2em;
        transform:rotate(180deg);
    }
}


.slide{
    opacity: 0;
    transition: opacity 0.5s;
}
.slide.active{
    opacity: 1;
}

.stats_div{
    display: flex;
    position: relative;
    margin-top: 2em;
    margin-left: 3em;
    
}
.comp{
    display: flex;
    position: relative;
    margin-top: 1em;
    margin-right: 5em;
    align-items: baseline;
}
.stats{
    display: flex;
    column-gap: 10em;
}


.ff_div{
    display: flex;
    position: absolute;
    margin-top: -14em;
    margin-left: 5em;
}
#ff_img{
    width: 350px;
}

.ff_text{
    margin-left: 1em;
    text-align: center;
    padding: 2em;
}
.ff_text h1{
    padding-bottom: 1em;
}
.next_button{
    margin-top: -12em;
    margin-right: -5em;
    width: 50px;
    float: right;
    height:200px;
}

.earth_comp_pic{
    width: 75px;
}

.sun_sec{
    grid-row: 3 / 5;
}
#sun_pic{

}
#sun_comp_pic{
    width: 200px;
}

.mercury_sec{
    grid-row: 5/7;
}
.mercury_sec:hover{
    border-bottom: 4px solid black;
    animation-duration: 2s;
}
#mercury_pic{
   
}
#mercury_pic:hover{
    
}
#merc_comp_pic{
    width: 50px;
}

.venus_sec{
    grid-row:7/9;
}
#venus_pic{
    
}
#venus_comp_pic{
    width: 100px;
}


.mars_sec{
    grid-row: 9/11;
}
#mars_pic{
   
}
#mars_comp_pic{
    width: 60px;
}


.jupiter_sec{
    grid-row: 11/13;
}
#jupiter_pic{
    
}
#jup_comp_pic{
    width: 135px;
    height: 135px;
}
#jup_next_button{
    
}

.saturn_sec{
    grid-row: 13/15;
}
#saturn_pic{
    
}
#saturn_comp_pic{
    width: 100px;
}

.uranus_sec{
    grid-row: 15/17;
}
#uranus_pic{
    
}
#uranus_comp_pic{
    width: 100px;
}

.neptune_sec{
    grid-row: 17/19;
}
#neptune_pic{
   
}
#neptune_comp_pic{
    width: 100px;
}

.pluto_sec{
    grid-row: 19/21;
}
#pluto_pic{
    margin-left: 2.5em;
}
#pluto_comp_pic{
    width: 100px;
}

@media screen and (max-width:426px) {
    #header-banner{
        height: 7em;
    }
    .wallpaper{
        height: 7em;
    }
    #sidebar{
        min-width: 15em;
    }
    #sidebar.active{
        display: none;
    }
    #sidebar li{
        margin-top: 1em;
    }

    #logo{
        left: 6em;
        top: 0em;
        width: 125px;
    }
    #logo.push{
     left: 9em;
     top: -1em;
     width: 150px;
    }

    .grid_container{
        grid-template-rows: repeat(11, 250px);
        
    }

    @keyframes lower_height {
        0%{
            margin-top: -0em;
            height: 10em;
        }
    
    
        100%{
            margin-top: -15em;
            height: 5em;
        }
    }
    @keyframes revert_height{
        0%{
            margin-top: -10em;
            height:5em
        }
        100%{
            margin-top: 0em;
            height: 32vh;
        }
    }
    
    .header_sec{
        grid-column: 3/10;
    }
    .header_sec h2{
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 7vw;
    }
    .header_sec p{
        font-size: 4.5vw;
    }

    .planet_sec{
        margin-top: 3em;
    }
    .planet_menu_btn{
        width: 3em;
        height: 3em;
    }
    .planet_bkgrd{
        height: 32vh;
    }
    .planet_pic{
        width: 30vw;
        margin-right: 2em;
    }
    .planet_title{
        font-size: 10vw;
    }
    .planet_main_title{
        margin-top: -8em;
        margin-left: 4em;
        width: max-content;
        font-size: 7vw;
    }
    
    .comp{
        margin-top: 0em;
        margin-right: 1em;
        margin-left: -2em;
    }
    .stats{
        column-gap: 1em;
    }
    .stats_div{
        margin-left: 2em;
    }
    .stats p{
        font-size: 2.8vw;
        margin-bottom: 0.5em;
    }
    .stats_col_1{
        margin-top: 1em;
        margin-right: 0em;
    }

    .menu_appear{
        height: 5em;
        margin-top: -15em;
    }

    @keyframes btn_move{
        0%{
            opacity: 0;
        }
        50%{
            opacity: 0;
            margin-top: -10em;
            margin-left:0em;
            transform: rotate(180deg);
        } 
        100%{
            opacity: 1;
            margin-top: -14.5em;
            margin-left: 0em;
            transform:rotate(180deg);
        }
    }

    .sun_sec{
        grid-row: 3/4;
    }
    #sun_comp_pic{
        width: 22vw;
    }
    #sun_earth_pic{
        width: 3vw;
    }
    #sun_next_button{
        top: 4.5em;
        background: transparent;
        width: 9vw;
        border: none;
        position: relative;
        height: 3em;
        padding: 0em;
        margin-right: 47.5em;
    } 
    #sun_next_button img{
        width: 1.5em;
        transform: rotate(90deg);
    }

    .mercury_sec{
        grid-row: 4/5;
    }
    .venus_sec{
        grid-row: 5/6;
    }
    .mars_sec{
        grid-row: 6/7;
    }
    .jupiter_sec{
        grid-row: 7/8;
    }
    .saturn_sec{
        grid-row: 8/9;
    }
    .uranus_sec{
        grid-row: 9/10;
    }
    .neptune_sec{
        grid-row: 10/11;
    }
    .pluto_sec{
        grid-row: 11/12;
    }

}

@media screen and (min-width:426px) and (max-width:464px){
    #header-banner{
        height: 7em;
    }
    .wallpaper{
        height: 7em;
    }

    #logo{
        width: 10em;
        top:-1em;
        left: 6em;
    }
    #logo.push{
        width: 10.5em;
        left:6em;
        top: -1em;
    }
}

@media screen and (min-width:465px) and (max-width:544px) { 
    #logo{
        top: -1.5em;
        left: 7em;
        width: 12em;
    }
    #logo.push{
        left:7em;
        top:-1.5em;
        width: 12em;
    }

    .wallpaper{
        height: 125px;
    }
    #header-banner{
        height: 125px;
    }
}

@media screen and (min-width:545px) and (max-width:645px){
    
    #logo{
        width: 11em;
        top: -1em;
        left: 8em;
        margin: 0 auto;
    }
    #logo.push{
        left:10em;
        
    }

    #header-banner{
        height: 7em;
    }
    .wallpaper{
        height: 7em;
    } 
}

@media screen and (min-width:646px) and (max-width:767px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }

    #header-banner{
        height: 7em;
    }
    .wallpaper{
        height: 7em;
    }
    #logo{
        width: 13em;
        top:-2.5em;
        left: 16em;
        margin: 0 auto;
    }
    #logo.push{
        left: 13em;
        
    }
    #moon-pic{
        width: 60%;
    }
    
}

@media screen and (min-width:768px) and (max-width:865px){
    #header-banner{
        height:8em
    }

    .wallpaper{
        height:8em
    }

    #logo{
        width: 13em;
        top:-2em;
        margin: 0 auto;
    }
    #logo.push{
        margin-left: 1em;
    }

    .block{
        margin:20px 0;
    }
    .line{
        margin: 15px 0;
    }

    .gl_headerbox{
        font-size: 4em;
        margin-left: 4em;
    }
}

@media(min-width:866px) and (max-width:1023px) {
    #header-banner{
        height: 8em;
    }
    .wallpaper{
        height: 8em;
    }

    #logo{
        width: 13em;
        top: -2em;
        margin: 0 auto;
    }
    #logo.push{
        width: 13em;
        left:20em;
        top: -2em;
    }

    .intro-cards{
        width: 80%;
        margin-top:50px
    }  

}

@media  screen and (min-width:1024px) {
    #logo{
        width: 16em;
        top:-2em;
        margin: 0 auto;
    }
    #logo.push{
        left: 30em;
    }
}